In [1]:
# WAP to take 10 numbers from a user and store them in a list

In [2]:
lst=[]
n=int(input("total numbers taken as a input:"))

for i in range(0,n):
    number=int(input("enter a numbers:"))
    lst.append(number)
print(lst)

total numbers taken as a input:10
enter a numbers:12
enter a numbers:45
enter a numbers:8
enter a numbers:45
enter a numbers:25
enter a numbers:23
enter a numbers:23
enter a numbers:23
enter a numbers:66
enter a numbers:33
[12, 45, 8, 45, 25, 23, 23, 23, 66, 33]

In [3]:
# Display numbers divisible by 5 from a list

In [5]:
lst=[12,10,15,20,46,50]

for i in lst:
    if i%5==0:
        print(i,end=" ")

10 15 20 50

In [6]:
# 3 :WAP to calculate the count of elements in a string taken as input from the user.

In [8]:
string=input("enter a string:")

count=len(string)
print(count)

enter a string:Rushikesh
9

In [9]:
# 4: WAP to check if a number is even or odd where number is taken as input.

In [10]:
number=int(input("enter a number: "))

if number%2 ==0:
    print("number is even number")
else:
    print("number is odd number")

enter a number: 12
number is even number

In [11]:
# 5:WAP to reverse a string taken as input from the user

In [13]:
s=input("enter a string: ")
rev_string=s[::-1]

print(rev_string)

enter a string: Rushi
ihsuR

In [14]:
# 6:WAP to reverse all the strings present in a list and save them in a new list.

In [15]:
lst=[]
lst1=["Rushi","Muley","coep","jnec","GPA"]
for i in lst1:
    rev_string=i[::-1]
    lst.append(rev_string)
    
print(lst)

['ihsuR', 'yeluM', 'peoc', 'cenj', 'APG']

In [16]:
# 7: Print characters from a string that are present at an even index number

In [21]:
S="rushikeshmuley"
S_even=S[::2]
print(S_even)

rsiehue

In [26]:
# 8 :Check if the first and last number of a list is the same

lst=[1,2,3,4,5,7,1]
if(lst[0]==lst[6]):
        print("first and last number of a list is the same")
else:
        print("not same")

first and last number of a list is the same

In [27]:
# 9 Calculate income tax for the input income by adhering to the Indian rules.

In [29]:

income=int(input("enter your annual income: "))

if income <= 250000:  #2 Lakh 50 thousand
    tax = 0

elif income <= 500000: #5 Lakh
    tax = (income - 250000) * 0.05

elif income <= 750000: #7 lakh 50 thousand
    tax = (income - 500000) * 0.10 + 12500 

elif income <= 1000000: #10 Lakh
    tax = (income - 750000) * 0.15 + 37500 

elif income <= 1250000: #12 lakh 50 thousand
    tax = (income - 1000000) * 0.20 + 75000 

elif income <= 1500000: #15 lakh
    tax = (income - 1250000) * 0.25 + 125000 

else:
    tax = (income - 1500000) * 0.30 + 187500

print("you owe", tax, "Rupees in tax!")

enter your annual income: 250000
you owe 0 Rupees in tax!

In [30]:
# 10:Write a Python program to check whether a string starts with vowel or not.

In [32]:
S="ushikeshmuley"
vowel="aeiouAEIOU"
if(S[0] in vowel):
    print("string starts with vowel")
else:
    print("string not starts with vowel")

string starts with vowel

In [33]:
# 11:Write a Python program to check if all the characters of a string are vowel or not.

In [35]:
s="Rushikesh"
if any(char in 'aeiou' for char in s):
    print("Yes,", s, "contains a vowel.")
else:
    print("No,", s, "contains no vowels.")

Yes, Rushikesh contains a vowel.

In [36]:
# 12.WAP to calculate percentage of a student through 5 subjects. Take marks as input from the user.

In [38]:
lst=[]
n=int(input("total numbers taken as a input:"))

for i in range(0,n):
    sub_marks=int(input("enter a subject marks:"))
    lst.append(sub_marks)
print(lst)

total numbers taken as a input:5
enter a subject marks:45
enter a subject marks:85
enter a subject marks:89
enter a subject marks:56
enter a subject marks:78
[45, 85, 89, 56, 78]

In [40]:
len(lst)

5

In [41]:
percentage_of_a_student=(45+85+89+56+78)/5

In [42]:
percentage_of_a_student

70.6

In [44]:
#13 WAP to convert '95.3' taken as input from the user into float value.

In [52]:
number=float(input("enter a number: "))

enter a number: 95.3

In [53]:
# WAP to count the number of zeroes present in a number taken as input from the user.

In [71]:
number=(input("enter a number: "))

enter a number: 1005

In [72]:
lst=[]
for i in number:
    print(lst.append(i))
print(lst)

None
None
None
None
['1', '0', '0', '5']

In [73]:
lst.count('0')

2

In [74]:
# 15WAP to calculate the surface area of a triangle. Take the required values as input.

In [76]:
b=int(input("enter a breath: "))
h=int(input("enter a height: "))

enter a breath: 12
enter a height: 41

In [77]:
area=(1/2)*b*h

In [78]:
area

246.0

In [79]:
# 16WAP to concatenate two lists index-wise and save the result in a 3rd list.

In [80]:
lst=[1,2,3]
lst1=[2,4,5]

In [82]:
lst2=lst+lst1

In [83]:
lst2

[1, 2, 3, 2, 4, 5]

In [85]:
# # 17 WAP to convert two lists into a dictionary. Take the elements from first list as keys
# and elements from second list as values.

In [86]:
listK = ["Mon", "Tue", "Wed"]
listV = [3, 6, 5]
# Given lists
print("List of K : ", listK)
print("list of V : ", listV)
# COnvert to dictionary
res = dict(zip(listK, listV))
print("Dictionary from lists :\n ",res)

List of K :  ['Mon', 'Tue', 'Wed']
list of V :  [3, 6, 5]
Dictionary from lists :
  {'Mon': 3, 'Tue': 6, 'Wed': 5}

In [87]:
# Input and store the marks of 10 students in a list. Print max and min marks.

In [88]:
lst=[]
n=int(input("total numbers taken as a input:"))

for i in range(0,n):
    number=int(input("enter a marks:"))
    lst.append(number)
print(lst)

total numbers taken as a input:10
enter a marks:45
enter a marks:85
enter a marks:85
enter a marks:66
enter a marks:96
enter a marks:56
enter a marks:78
enter a marks:55
enter a marks:99
enter a marks:100
[45, 85, 85, 66, 96, 56, 78, 55, 99, 100]

In [90]:
max(lst)

100

In [91]:
min(lst)

45

In [93]:
# 19 :WAP to save the username and password of 10 users in a dictionary.

In [94]:
listK = ["r", "u", "s","H","I","K","e","u","y","O"]
listV = [3, 6, 5,4,8,6,5,8,8,10]
# Given lists
print("List of K : ", listK)
print("list of V : ", listV)
# COnvert to dictionary
res = dict(zip(listK, listV))
print("Dictionary from lists :\n ",res)

List of K :  ['r', 'u', 's', 'H', 'I', 'K', 'e', 'u', 'y', 'O']
list of V :  [3, 6, 5, 4, 8, 6, 5, 8, 8, 10]
Dictionary from lists :
  {'r': 3, 'u': 8, 's': 5, 'H': 4, 'I': 8, 'K': 6, 'e': 5, 'y': 8, 'O': 10}

In [95]:
# 20.Write a Python program to find the sum of the first n positive integers. Take n as input from the user.

In [96]:
lst=[]
n=int(input("total numbers taken as a input:"))

for i in range(0,n):
    number=int(input("enter number:"))
    lst.append(number)
print(lst)

total numbers taken as a input:5
enter number:45
enter number:12
enter number:56
enter number:66
enter number:53
[45, 12, 56, 66, 53]

In [97]:
sum(lst)

232