# Assume Data wherever needed/necessary

### Loop Statements

In [5]:
# #L1
# WAP to print all elements of a list using a for loop. 
# Take the elements of the list from the user.

# For e.g. Input: l= ['3','Hi','67','0','12','0','8']
#         Output: 3
#                 Hi
#                 67
#                 0
#                 12
#                 0
#                 8
S=list(input("enter the list"))
print(S)
for i in S:
  print(i)

enter the list3."HI",67,0,12,0,8
['3', '.', '"', 'H', 'I', '"', ',', '6', '7', ',', '0', ',', '1', '2', ',', '0', ',', '8']
3
.
"
H
I
"
,
6
7
,
0
,
1
2
,
0
,
8

In [13]:
#L2
# WAP to take inputs from user to make a list. Length of the list has to be taken from the user.
# Again take one input from user and search it in the list and delete that element, if found.
# If not found, print "Element not present".

# For e.g. Input: len_list = 5
#                 list = ["a", "b", "y", "e", "p"]
#                 search_element = "g"
#                     Output: "Element not found"
#                 search_element = "e"
#                     Output: ["a", "b", "y", "p"]

length_list=int(input("Enter a length of list"))
l=list(input("enter a list"))
a=str(input("enter a element you wanna search"))
if a in l:
  l=l.pop(0)
 
  print("element  found")
  
else:
  print("element not found")
print(l)

Enter a length of list5
enter a list"a", "b", "y", "e", "p"
enter a element you wanna searcha
element  found
"

In [16]:
# #L3
# Make a grading system for a school based on the marks of the students using the following criteria.
# Marks 0 - 40 : Grade F
#      41 - 50 : Grade E
#      51 - 70 : Grade D
#      71 - 80 : Grade C
#      81 - 90 : Grade B
#      91 - 100: Grade A
# Continuously take marks as input from the user and print the grade. 
# The user can enter "Stop" to stop the loop.

marks=int(input("enter a marks obtained in an examination: "))

if marks>90 and marks<=100:
  print("student received Grade A")
elif marks>80 and marks<=90:
  print("student Received Grade B")
elif marks>70 and marks<=80:
   print("Student Received Grade C")
elif marks >50 and marks<=70:
    print("Student Received Grade D")
elif marks >40 and marks<=50:
  print("Student Received Grade E")
else:
  print("Student Received Grade F i.e scope for improvement hard luck this time")

enter a marks obtained in an examination: 95
student received Grade A

In [25]:
#L4
# WAP to save the cube of all numbers from 1 to a number n in list, 
# where n is taken as input from the user.

# For e.g. Input: 5
#         Output: [1, 8, 27, 64, 125]  #Cube of numbers from 1 to 5 where 5 is the input from the user

n=int(input("Total Number Taken as Input: "))
l=[]
# iterating till the range
for i in range(0, n):
    ele = int(input())
  
    l.append(ele) # adding the element
      
print(l)
res = []
for i in l:
    res.append(i*i*i)
  
# printing result
print(res)

Total Number Taken as Input5
1
2
3
4
5
[1, 2, 3, 4, 5]
[1, 8, 27, 64, 125]

In [28]:
5#L5
# # WAP to print even numbers in a given range in reverse order.
# Take the range from the user.

# For e.g. Input: start = 3
#                 End = 14
#         Output: 14, 12, 10, 8, 6, 4

for i in range(14, 3, -2):
    print(i)

14
12
10
8
6
4

In [41]:
#L6
# WAP to print odd numbers in a given range in reverse order.
# Take the range from the user.

# For e.g. Input: start = 3
#                 End = 14
#         Output: 13, 11, 9, 7, 5, 3

for i in range(13, 2,-2):
  print(i)

13
11
9
7
5
3

In [42]:
# L7
# WAP to print multiplication table of a number taken as input from the user.

# For e.g. Input: 5
#         Output: 5*1 = 5
#                 5*2 = 10
#                 .
#                 .
#                 .
#                 5*10 = 50

num = int(input("Display multiplication table of? "))

# Iterate 10 times from i = 1 to 10
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

Display multiplication table of? 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [44]:
# L8
# WAP to print the following pattern.
# e.g. i/p: n = 4
#     o/p:
#         1
#         1 2
#         1 2 3
#         1 2 3 4

rows = 4
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print('')

1
1 2
1 2 3
1 2 3 4

In [46]:
#L9
# Write a program to calculate the sum of series up to n terms for a digit d. n & d are taken as input from the user.

# For example:
#     Input: n = 5, d = 2
#     Logic: 2 + 22 + 222 + 2222 + 22222 
#     Output: 24690

number_of_terms = int(input("enter a no of terms: "))
sum1=0
for i in range (1,number_of_terms+1):
    num=eval('2'*i)
    sum1+=num
print(sum1)

enter a no of terms: 5
24690

In [52]:
#L10
# WAP that keeps on accepting numbers from the user until the user enters Zero(0) as input.
# Display the sum and average of all the numbers.

# For example:
#     Input: 3, 6, 8, 2, 5, Stop
#     Output: Sum = 24
#             Average = 4.8
l=[]
while True:
  A=int(input("Enter your number: "))
  l.append(A)
  if A==0:
    break
print(l)
count = 0
 
# Finding the sum
for i in l:
    count += i
print(count)
avg=count/(len(l))
print(avg)

Enter your number: 4
Enter your number: 5
Enter your number: 2
Enter your number: 0
[4, 5, 2, 0]
11
2.75

In [54]:
# 2#L11
# Accept n numbers from the user and display their average. n is input from the user.

# For example:
#     Input: n = 5
#         Numbers = 3, 6, 2, 9, 0
#     Output: Average = 4.0


l=[]
while True:
  A=int(input("Enter your number: "))
  l.append(A)
  if A==0:
    break
print(l)
count = 0
 
# Finding the sum
for i in l:
    count += i

avg=count/(len(l))
print(avg)

Enter your number: 3
Enter your number: 6
Enter your number: 2
Enter your number: 9
Enter your number: 0
[3, 6, 2, 9, 0]
4.0

In [55]:
#S1
# Write a Python program to count the number of each of the characters (character frequency) 
#    in a string input by the user. Ignore the case.
#    For example: Input: "Python is great"
# 		Output: P = 1, y = 1, t = 2, and so on...
n=input("Enter the String: ").lower()
s={}
for i in n:
    if i in s:
        s[i]+=1
    else:
        s[i]=1
print(s)

Enter the String: Rushikesh chandrakant muley
{'r': 2, 'u': 2, 's': 2, 'h': 3, 'i': 1, 'k': 2, 'e': 2, ' ': 2, 'c': 1, 'a': 3, 'n': 2, 'd': 1, 't': 1, 'm': 1, 'l': 1, 'y': 1}

In [66]:
#S2
# Write a Python program to find the digits which are absent in a given mobile number.

#    For example: Input : 9354328855
#                 Output: 0167



def absent_digits(n):
  all_nums = set([0,1,2,3,4,5,6,7,8,9])
  n = set([int(i) for i in n])
  n = n.symmetric_difference(all_nums)
  n = sorted(n)
  return n
print(absent_digits([9,3,5,4,3,2,8,8,5,5]))

[0, 1, 6, 7]

In [72]:
# #S3
# WAP in python to find average of n numbers taken as input from the user in realtime.

l=[1,2,3,4,5]
count = 0
 
# Finding the sum
for i in l:
    count += i

avg=count/(len(l))
print(avg)

3.0

In [76]:
5
555#S4
# WAP in python that accepts a hyphen-separated sequence of 
# alphabets as input and prints the words in a hyphen-separated 
# sequence after sorting them alphabetically.

# For e.g. Input: "p-y-t-h-o-n"
#         Output: ['h', 'n','o', 'p', 't', 'y']

print("Enter words separated by Hyphens : ")
listt = [wrd for wrd in input().split("-")]
listt.sort()
print('-'.join(listt))

Enter words separated by Hyphens :
p-y-t-h-o-n
h-n-o-p-t-y

In [81]:
#S5
# WAP in python to find the number of vowels, consonants, digits, special 
# characters and white space characters in a string input by the user.

# Example: Input: "Qwerty@123"
# 	output: v = 1, c = 5, d = 3, w = 0, s = 1

# Python program to count the number of vowels, consonants, digits and special characters in a string

str = input('Enter the string : ')
vowels = 0
digits = 0
consonants = 0
spaces = 0
symbols = 0
str = str.lower()
for i in range(0, len(str)):
	if(str[i] == 'a'or str[i] == 'e' or str[i] == 'i' or str[i] == 'o' or str[i] == 'u'):
		vowels = vowels + 1
	elif((str[i] >= 'a'and str[i] <= 'z')):
		consonants = consonants + 1
	elif( str[i] >= '0' and str[i] <= '9'):
		digits = digits + 1
	elif (str[i] ==' '):
		spaces = spaces + 1
	else:
		symbols = symbols + 1
print("Vowels: ", vowels);
print("Consonants: ", consonants);
print("Digits: ", digits);
print("White spaces: ", spaces);
print("Symbols : ", symbols);

Enter the string : Qwerty@123
Vowels:  1
Consonants:  5
Digits:  3
White spaces:  0
Symbols :  1

In [4]:
#S6
# WAP in python to check the strength of the password input by the user based on the following features.
#     Length minimum of 8 characters  (+1 Strength)
#     Combination of upper case & lower case characters (+1 Strength)
#     Combination of alphabets & digits (+1 Strength)
#     Use of Special Characters (+1 Strength)
    
# Example: Input: "Qwerty@123"
#         Output: Strength = 4

length = lower = upper = digit = False

password = input('Enter the password: ')

if len(password)>= 8:
    length = True
    
    for letter in password:
        if letter.islower():
            lower = True
        elif letter.isupper():
            upper = True
        elif letter.isdigit():
            digit = True


if length and lower and upper and digit:
    print('That is a valid password.')
else:
    print('That password is not valid.')

Enter the password: Qwerty@123
That is a valid password.

In [5]:
#S7
# WAP in python to compare two strings and tell the user if both of those strings are same or not. 
# Ignore their case.

# Example: Input String1: "Hello"
# 	Input String2: "hello"
# 	Output: Strings are same


string1 = 'Hello'
string2 = 'hello'

if string1.casefold() == string2.casefold():
    print("The strings are the same (case insensitive)")
else:
    print("The strings are NOT the same (case insensitive)")

The strings are the same (case insensitive)

In [8]:
#S8
# WAP in python to calculate the number of times a character is repeated in a given string.
# Take the string and character from the user.

# Example: Input String: "Neil Nitin Mukesh"
#         Input Character: "e"
#         Output: 2

S=input("Enter Your String: ")

character_repeated= S.count("e")

print(character_repeated)

Enter Your String: Neil Nitin Mukesh
2

In [9]:
# #S 9
# wap as take a string from user and disply the character at even positions.

S=input("Enter a string: ")

print(S[::2])

Enter a string: rushimuleypatil
rsiueptl

In [12]:
# #S10
# WAP in python to capitalize the first letter of the First Name and Surname where whole name is taken as input from the user.

# Example: Input: "first last" or "FIRST LAST" or "first lAst" i.e. Input can be in any case.
#         Output: "First Last"

name=input("Enter a your name: ")
print(name.title())

Enter a your name: rushi muley patil
Rushi Muley Patil

In [18]:
#S11
# Write a Python program that accepts a comma separated sequence of words as input and 
# prints the unique words in sorted form (alphanumerically).

# 	Sample Words : red, white, black, red, green    
# 	Expected Result : black, green, red, red, white

items = input("Input comma separated sequence of words")
words = [word for word in items.split(",")]
print(",".join(sorted(list(words))))

Input comma separated sequence of words red, white, black, red, green
 black, green , red, red, white

In [20]:
 #S12
# Write a Python program to count repeated characters in a string.

# 	Sample string: 'thequickbrownfoxjumpsoverthelazydog'
# 	Expected output :
# 			o 4
# 			e 3
# 			u 2
# 			h 2
# 			r 2
# 			t 2
import collections
str1 = 'thequickbrownfoxjumpsoverthelazydog'
d = collections.defaultdict(int)
for c in str1:
    d[c] += 1

for c in sorted(d, key=d.get, reverse=True):
  if d[c] > 1:
      print('%s %d' % (c, d[c]))

o 4
e 3
t 2
h 2
u 2
r 2

### List Questions

In [23]:
#Li1
# WAP to remove empty strings from the list of strings. Take list as input from the user.

# For example: Input: ["My", "name", "", "is", "", "Alankrita", "", "."]
#             Output: ["My", "name", "is", "Alankrita", "."]



l=["My", "name", "", "is", "", "Alankrita", "", "."]
new_list = []
for x in l:
    if x != '':
        new_list.append(x)

new_list

['My', 'name', 'is', 'Alankrita', '.']

In [30]:
#Li2
# WAP to make a list of all the characters starting from character 'A' to the input character from the user.

# For e.g. Input: 'H'
#         Output: ["A", "B", "C", "D", "E", "F", "G", "H"]

In [29]:
#Li3
# WAP to check if a specific employee e is present in a company or not. Employee names are saved in a list.
# e is taken as input from the user.

# For example: empList = ["Ashwin", "Rachit", "Sanjana", "David", "Komal"]
#             Input1: "Komal"
#             Output1: "Employee is present"
            
#             Input2: "Harshil"
#             Output2: "Employee is not present"

emp_name=input("Enter A employee name: ")

l=["Ashwin", "Rachit", "Sanjana", "David", "Komal"]


if emp_name in l:
    print("Employee is present")
else:
    print("Employee is not Present")

Enter A employee name: Komal
Employee is present

In [31]:
#Li4
# Write a python program to find the maximum and minimum number in a list of 10 elements 
#    (taken as input from the user) and also find the index position of the these numbers.
    
#    For example: Input : [25, 2, 1, 86, 42, 32, 27, 12, 31, 10]
# 		Output: Max Number: 86, Index of Max Number: 3
# 			Min Number: 1, Index of Min Number: 2
list=[25, 2, 1, 86, 42, 32, 27, 12, 31, 10]
# min element's position/index
min = list.index (min(list))
# max element's position/index
max = list.index (max(list))

# printing the position/index of min and max elements
print ("position of minimum element: ", min)
print ("position of maximum element: ", max)

position of minimum element:  2
position of maximum element:  3

In [32]:
#Li5
# Given two Python lists of same length. Iterate both lists simultaneously such that list1 
#    should display item in original order and list2 in reverse order.
    
#    For example: Input = list1 = [10, 20, 30, 40]
# 			list2 = [100, 200, 300, 400]
#             Output: 10 400
#                     20 300
#                     30 200
#                     40 100

list1=[10, 20, 30, 40]
list2=[100, 200, 300, 400]
list2[::-1]

[400, 300, 200, 100]

In [37]:
#Li6
# WAP to concatenate two lists index-wise.
# list1 = ["M", "na", "i", "Ashu"]
# list2 = ["y", "me", "s", "tosh"]
#     Output: ['My', 'name', 'is', 'Ashutosh']

l1 = ["M", "na", "i", "Ashu"]
l2 = ["y", "me", "s", "tosh"]
l3=[]
for i in range(len(l1)):
  l3. append(l1[i]+l2[i])
l3

['My', 'name', 'is', 'Ashutosh']

In [42]:
#Li7
# WAP to remove/delete items from a list while iterating without creating a duplicate list.
# Take the elements to be deleted from the user in real-time.

myList = ["Bran",11,22,33,"Stark",22,33,11]
 
myList.remove(22)
 
myList

['Bran', 11, 33, 'Stark', 22, 33, 11]

In [59]:
# #Li8
# WAP to generate a Python list of all the prime numbers between n to m where n & m are taken as input from the user.
# First, we will take the input:  
lower_value = int(input ("Please, Enter the Lowest Range Value: "))  
upper_value = int(input ("Please, Enter the Upper Range Value: "))  
lst=[] 
print ("The Prime Numbers in the range are: ")  
for number in range (lower_value, upper_value + 1):  
    if number > 1:  
        for i in range (2, number):  
            if (number % i) == 0: 
              break
               
        else:
          lst.append(number)   
          print(lst)

Please, Enter the Lowest Range Value: 1
Please, Enter the Upper Range Value: 5
The Prime Numbers in the range are:
[2]
[2, 3]
[2, 3, 5]

In [71]:
2#Li9
# WAP to concatenate two lists in the following order:
#     list1 = ["Hello ", "World"]
#     list2 = ["Hi", "There"]
#     Output: ['Hello Hi', 'Hello There', 'World Hi', 'World There']

list1 = ["Hello ", "World"]
list2 = ["Hi", "There"]





(print((list1[0]+list2[0],list1[0]+list2[1],list1[1]+list2[0],list1[1]+list2[1])))

('Hello Hi', 'Hello There', 'WorldHi', 'WorldThere')

In [77]:
# #Li10
# Given two lists having names of students and their corrsponding marks.
# names = ["Ashutosh", "Ajay", "Alankrita", "Rachit", "Komal", "Anil"]
# marks = [23, 21, 26, 23, 27, 24]
# Take name of a student as input from the user and output his/her marks.

# For e.g.:
#     Input1: "Alankrita"
#     Output1: 26
        
#     Input2: "Someone"
#     Output2: "Student not found"
names = ["Ashutosh", "Ajay", "Alankrita", "Rachit", "Komal", "Anil"]
marks = [23, 21, 26, 23, 27, 24]

Grade = dict(zip(names, marks))
print(Grade)

Grade["Alankrita"]

{'Ashutosh': 23, 'Ajay': 21, 'Alankrita': 26, 'Rachit': 23, 'Komal': 27, 'Anil': 24}

26

In [79]:
#Li11
# Extended question of #Li10
# Add an option to change marks of any students in the same code of #Li10. Take student name and new marks from the user. 
# Print the modified list as output.

# For e.g.: Input: "Ajay"
#         new_mark: 25
#         Output: marks = [23, 25, 26, 23, 27, 24]


names = ["Ashutosh", "Ajay", "Alankrita", "Rachit", "Komal", "Anil"]
marks = [23, 21, 26, 23, 27, 24]

names[1]="Ajay"
names
marks[1]=25
marks

[23, 25, 26, 23, 27, 24]

In [80]:
#Li12
# Extended question of #Li10
# Give an option to enter the marks of a new student into the existing lists names and marks. Take new data as input from user.
# Print the new names and marks list as output.

# For e.g.: Input: New_name = "Harshil"
#                 new_Marks = 20
#         Output: names = ["Ashutosh", "Ajay", "Alankrita", "Rachit", "Komal", "Anil", "Harshil"]
#                 marks = [23, 21, 26, 23, 27, 24, 20]

names = ["Ashutosh", "Ajay", "Alankrita", "Rachit", "Komal", "Anil"]
marks = [23, 21, 26, 23, 27, 24]

names[1]="Ajay"
names.append("Harshil")
marks[1]=25
marks.append(20)
print(names)
print(marks)

['Ashutosh', 'Ajay', 'Alankrita', 'Rachit', 'Komal', 'Anil', 'Harshil']
[23, 25, 26, 23, 27, 24, 20]

### Dictionary Questions

In [81]:
#D1
# WAP in Python to merge following dictionaries to create a new one:
d1={1:10, 2:20}
d2={3:30, 4:40}
d3={5:50, 6:60}

d4 = {**d1, **d2,**d3}

print(d4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [82]:
#D2
# WAP in python to generate and print a dictionary that contains a number (between 1 and n) 
# in the form {x : x*x} where n is the input from the user.

# For e.g. Input: 4
#         Output: {1:1, 2:4, 3:9, 4:16}


n=int(input("Input a number "))
d = dict()

for x in range(1,n+1):
    d[x]=x*x

print(d)

Input a number 4
{1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
# #D3
# WAP in python to find the number of vowels, consonants, digits, white space characters & 
# special characters in a string and save the result in the form of a dictionary.

In [83]:
#D4
# WAP to reverse map the dictionary items. Take dictionary as input from the user.

# 	For eg., Input: d = {'A': 65, 'B': 66, 'C': 67, 'D': 68}
#             Output: d = {65: 'A', 66: 'B', 67: 'C', 68: 'D'}

myDict = {'A': 65, 'B': 66, 'C': 67, 'D': 68}
print("The input dictionary is:")
print(myDict)
reversedDict = dict()
for key in myDict:
    val = myDict[key]
    reversedDict[val] = key
print("The reversed dictionary is:")
print(reversedDict)

The input dictionary is:
{'A': 65, 'B': 66, 'C': 67, 'D': 68}
The reversed dictionary is:
{65: 'A', 66: 'B', 67: 'C', 68: 'D'}

In [85]:
#D5
# WAP to save Username and Password of 10 employees in an organisation. 
# Take the Username and Password as input from the user one by one and save in the Dictionary.
k=input("Please input a username: ") 
v=input("Plesse input a Password: ") 
D={k:v} 
print(D)

Please input a username: Rushi
Plesse input a Password: 12345
{'Rushi': '12345'}

In [86]:
#D6
# Extended Question from #D5
# Write an additional functionality to check if an employee is present in the organisation or not.
# Basically "Search" Functionality based on their username
# Take employee name as input from the user.
# If the employee is present, print "Present" else print "Not Present"

k=input("Please input a username: ") 
v=input("Plesse input a Password: ") 
D={k:v} 
print(D)
if k=="Rushi":
  print("Employee is Present")
else:
  print("Employee is not Present")

Please input a username: Rushi
Plesse input a Password: 1234
{'Rushi': '1234'}
Employee is Present

### Misc. Questions - i.e. you can use any data type which seems feasible for question

In [89]:
#M1
# WAP in python that accepts two integers (n) & (m) from user and 
# computes the value of 2n3 + 5m2 - 7n + 10


n=int(input("Enter a first integer: "))
m=int(input("Enter a Second integer: "))

Expression=2*n*n*n +5*m*m - 7*n + 10

print(Expression)

Enter a first integer: 5
Enter a Second integer: 10
725

In [94]:
# #M2
# Write a python program to find the intersection of elements from two list 
# (find the common elements in two lists).

def intersection_list(list1, list2):  
   return set(list1).intersection(list2)  
  
list1 = [40, 90, 11, 58, 31, 66, 28, 54, 79]  
list2 = [58, 90, 54, 31, 45, 11, 66, 28, 26]  
  
print(intersection_list(list1, list2))

{66, 90, 11, 54, 58, 28, 31}

In [98]:
#M3
# WAP in Python to find the Max of n numbers all taken as input from the user.

lst = []

num = int(input('How many numbers: '))

for n in range(num):
    numbers = int(input('Enter number '))
    lst.append(numbers)
    
lst.sort()
 
# printing the last element
print("Largest element is:", lst[-1])

How many numbers: 5
Enter number 52
Enter number 23
Enter number 85
Enter number 66
Enter number 99
Largest element is: 99

In [99]:
5#M4
# WAP which takes a sequence of numbers from the user and check if all input numbers are unique.

def test_distinct(data):
  if len(data) == len(set(data)):
    return True
  else:
    return False;
print(test_distinct([1,5,7,9]))
print(test_distinct([2,4,5,5,7,9]))

True
False

In [100]:
#M5
# WAP to reverse a given integer number.
# Example: Input: 105320
#         Output: 023501


n=int(input("Enter number: "))
rev=0
while(n>0):
    dig=n%10
    rev=rev*10+dig
    n=n//10
print("Reverse of the number:",rev)

Enter number: 105320
Reverse of the number: 23501

In [107]:
#M6

lst = []

num = int(input('How many numbers: '))

for n in range(num):
    numbers = int(input('Enter number '))
    lst.append(numbers)

print(lst)

l1=lst[::2]
print(l1)
l2=lst[1:11:2]
print(l2)

How many numbers: 10
Enter number 1
Enter number 2
Enter number 3
Enter number 4
Enter number 5
Enter number 6
Enter number 7
Enter number 8
Enter number 9
Enter number 10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

In [108]:
34#M7
# WAP to convert temperature in Fahrenheit to Celsius. Take the temperature from the user in float type.
fahrenheit = float(input("Enter temperature in fahrenheit: "))
celsius = (fahrenheit - 32)/1.8
print(str(fahrenheit )+ " degree Fahrenheit is equal to " + str(celsius ) + " degree Celsius." )

Enter temperature in fahrenheit: 32
32.0 degree Fahrenheit is equal to 0.0 degree Celsius.

In [112]:
# #M8
# WAP to continuously take Names as input from the user. 
# Save the incoming names into a list as Full Name and save {First Name:Second Name} in a dictionary.
# Take inputs till the user enters "Stop"

# For e.g.: Input: "Shahrukh Khan", "Gauri Khan",..................."Stop"
#          Output: list1 = ["Shahrukh Khan", "Gauri Khan",....................]
#                 dict1 = {"Shahrukh":"Khan", "Gauri":"Khan", .....................}


Student = {} #the Dictionary

maximum = int (input("Enter the Maximum: "))

for i in range(0,maximum):

  key = input("Enter the key: ")

  value = input("Enter the value: ")

  Student[key]=value

print(":::",Student)

Enter the Maximum: 5
Enter the key: English
Enter the value: 52
Enter the key: hindi
Enter the value: 89
Enter the key: marathi
Enter the value: 88
Enter the key: science
Enter the value: 56
Enter the key: history
Enter the value: 86
::: {'English': '52', 'hindi': '89', 'marathi': '88', 'science': '56', 'history': '86'}

In [113]:
#M9
# WAP to make a simple and compound interest calculator. Take all the necessary data as input from the user.


# Reading principal amount, rate and time
principal = float(input('Enter amount: '))
time = float(input('Enter time: '))
rate = float(input('Enter rate: '))

# Calcualtion
simple_interest = (principal*time*rate)/100
compound_interest = principal * ( (1+rate/100)**time - 1)

# Displaying result
print('Simple interest is: %f' % (simple_interest))
print('Compound interest is: %f' %(compound_interest))

Enter amount: 5000
Enter time: 5
Enter rate: 5
Simple interest is: 1250.000000
Compound interest is: 1381.407813