In [2]:
#Write a Python program to find the sum of all elements in a list using loop.
#Input:- [10,20,30,40]
#Output:- 100
l=[10,20,30,40]
sum=0
for i in l:
  sum +=i
print(sum)

100

In [4]:
#Write a Python program to find the multiplication of all elements in a list using loop.
#Input:- [10,20,30,40]
#Output:- 240000
l=[10,20,30,40]
sum=1
for i in l:
  sum *=i
print(sum)

240000

In [6]:
#Write a Python program to find the largest number from a list using loop.
#Input:- [10,100,2321, 1,200,2]
#Output:- 2321
l=[10,100,2321,1,200,2]
for i in l:
  if i==max(l):
    print(i)

2321

In [8]:
#Write a Python program to find the smallest number from a list using loop.
#Input:- [10,100,2321, 1,200,2]
#Output:- 1
l=[10,100,2321,1,200,2]
for i in l:
  if i==min(l):
    print("min number in list: ",i)

min number in list:  1

In [19]:
#Write a Python program to count the number of strings having length more than 2 and are palindrome in a list using loop.
#Input:- ['ab', 'abc', 'aba', 'xyz', '1991']
#Output:- 2
l=['ab','abc','aba','xyz','1991']
count=0
for i in l:
  if len(i)>2 and i==i[::-1]:
    count+=1
print(count)

2

In [30]:
#Write a Python program to sort a list in ascending order using loop.
#Input:- [100,10,1,298,65,483,49876,2,80,9,9213]
#Output:- [1,2,9,10,65,80,100,298,483,9213,49876]
l=[100,10,1,298,65,483,49876,2,80,9,9213]

for i in range(0,len(l)-1):
  for j in range(i+1,len(l)):
    if(l[i] > l[j]):
      l[i],l[j]=l[j],l[i]
    
  print(l)

          

print("Element After Sorting List in Ascending Order is : ",l)

[1, 100, 10, 298, 65, 483, 49876, 2, 80, 9, 9213]
[1, 2, 100, 298, 65, 483, 49876, 10, 80, 9, 9213]
[1, 2, 9, 298, 100, 483, 49876, 65, 80, 10, 9213]
[1, 2, 9, 10, 298, 483, 49876, 100, 80, 65, 9213]
[1, 2, 9, 10, 65, 483, 49876, 298, 100, 80, 9213]
[1, 2, 9, 10, 65, 80, 49876, 483, 298, 100, 9213]
[1, 2, 9, 10, 65, 80, 100, 49876, 483, 298, 9213]
[1, 2, 9, 10, 65, 80, 100, 298, 49876, 483, 9213]
[1, 2, 9, 10, 65, 80, 100, 298, 483, 49876, 9213]
[1, 2, 9, 10, 65, 80, 100, 298, 483, 9213, 49876]
Element After Sorting List in Ascending Order is :  [1, 2, 9, 10, 65, 80, 100, 298, 483, 9213, 49876]

In [31]:
#Write a Python program to get a sorted list in increasing order of last element in each tuple in a given list using loop.
#Input:- [(5,4),(9,1),(2,3),(5,9),(7,6),(5,5)]
#output:- [(9,1),(2,3),(5,4),(5,5),(7,6),(5,9)]

l=[(5,4),(9,1),(2,3),(5,9),(7,6),(5,5)]

for i in range(0,len(l)-1):
  for j in range(i+1,len(l)):
    if(l[i][1] > l[j][1]):
      l[i],l[j]=l[j],l[i]
    
  print(l)

          

print("Element After Sorting List in Ascending Order is : ",l)

[(9, 1), (5, 4), (2, 3), (5, 9), (7, 6), (5, 5)]
[(9, 1), (2, 3), (5, 4), (5, 9), (7, 6), (5, 5)]
[(9, 1), (2, 3), (5, 4), (5, 9), (7, 6), (5, 5)]
[(9, 1), (2, 3), (5, 4), (5, 5), (5, 9), (7, 6)]
[(9, 1), (2, 3), (5, 4), (5, 5), (7, 6), (5, 9)]
Element After Sorting List in Ascending Order is :  [(9, 1), (2, 3), (5, 4), (5, 5), (7, 6), (5, 9)]

In [32]:
#Write a Python program to remove fuplicate element from a list using loop.
#Input:- [10,1,11,1,29,876,768,10,11,1,92,29,876]
#Output:- [10,1,11,29,876,768,92]
l=[10,1,11,1,29,876,768,10,11,1,92,29,876]
new_list = []

for i in l:
    if i not in new_list:
        new_list.append(i)

print(new_list)

[10, 1, 11, 29, 876, 768, 92]

In [33]:
#Write a Python program to check a list is empty or not?
#Input:- []
#Output:- List is empty
#Input:- [10,20,30]
#Output:- List is not empty

l=[]

if len(l)==0:
  print("list is empty")
else:
  print("List is not empty")

list is empty

In [34]:
#Write a Python program to copy a list using loop.
#inp_lst = [10,10.20,10+20j, 'Python', [10,20], (10,20)]
#out_lst = [10,10.20,10+20j, 'Python', [10,20], (10,20)]

inp_lst = [10,10.20,10+20j, 'Python', [10,20], (10,20)]
out_lst=[]

for i in inp_lst:
  out_lst.append(i)

print(out_lst)

[10, 10.2, (10+20j), 'Python', [10, 20], (10, 20)]

In [42]:
#Write a Python program to find the list of words that are longer than or equal to 4 from a given string.
#Input:- 'How much wood would a woodchuck chuck if a woodchuck could chuck wood'
#Output:- ['much', 'wood', 'would', 'woodchuck', 'chuck', 'could']
#Note:- Duplicate should be avoided.


n=4
str='How much wood would a woodchuck chuck if a woodchuck could chuck wood'
new_list = []
text = str.split(" ")
for x in text:
	if len(x) >= n and x not in new_list:
		new_list.append(x)
print(new_list)

['much', 'wood', 'would', 'woodchuck', 'chuck', 'could']

In [44]:
#Write a Python program which takes two list as input and returns True if they have at least 3 common elements.
#inp_lst1 = [10,20,'Python', 10.20, 10+20j, [10,20,30], (10,20,30)]
#inp_lst2 = [(10,20,30),1,20+3j,100.2, 10+20j, [10,20,30],'Python']
#Output:- True
a= [10,20,'Python', 10.20, 10+20j, [10,20,30], (10,20,30)]
b= [(10,20,30),1,20+3j,100.2, 10+20j, [10,20,30],'Python']
def commonElement(a: list, b: list):
    common = 0
    for i in a:
        if i in b:
            common += 1
    if common > 3:
        return True


commonElement(a,b)

True

In [46]:
from re import A
#Write a Python program to create a 4X4 2D matrix with below elements using loop and list comprehension both.
#Output:- [[0,0,0,0],[0,1,2,3],[0,2,4,6],[0,3,6,9]]

a= int(input("Input number of rows: "))
b= int(input("Input number of columns: "))
multi_list = [[0 for j in range(b)] for i in range(a)]

for i in range(a):
    for j in range(b):
        multi_list[i][j]= i*j

print(multi_list)

Input number of rows: 4
Input number of columns: 4
[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6], [0, 3, 6, 9]]

In [50]:
4#Write a Python program to create a 3X4X6 3D matrix wiith below elements using loop
#Output:- 
# [
#     [[0,0,0,0,0,0],[0,0,0,0,0,0],[0,0,0,0,0,0],[0,0,0,0,0,0]],
#     [[0,0,0,0,0,0],[1,1,1,1,1,1],[2,2,2,2,2,2],[3,3,3,3,3,3]],
#     [[0,0,0,0,0,0],[2,2,2,2,2,2],[4,4,4,4,4,4],[6,6,6,6,6,6]]
# ]

list_1 = [[[col*row]*6 for col in range(4)] for row in range(3)]
print(list_1)

[[[0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0]], [[0, 0, 0, 0, 0, 0], [1, 1, 1, 1, 1, 1], [2, 2, 2, 2, 2, 2], [3, 3, 3, 3, 3, 3]], [[0, 0, 0, 0, 0, 0], [2, 2, 2, 2, 2, 2], [4, 4, 4, 4, 4, 4], [6, 6, 6, 6, 6, 6]]]

In [55]:
#Write a Python program which takes a list of numbers as input and prints a new list after removing even numbers from it.
#Input:- [10,21,22,98,87,45,33,1,2,100]
#Output:- [21,87,45,33,1]

S=[10,21,22,98,87,45,33,1,2,100]
l=[]
for i in S:
  if i%2 != 0:
    l.append(i)

print(l)

[21, 87, 45, 33, 1]

In [60]:
#Write a Python program which takes a list from the user and prints it after reshuffling the elements of the list.
#Input:- [10,21,22,98,87,45,33,1,2,100]
#Output:- [1,87,21,10,33,2,100,45,98,22] (It may be any random list but with same elements)

import random
my_list=[10,21,22,98,87,45,33,1,2,100]
random.shuffle(my_list)
print(my_list)

[21, 2, 10, 1, 87, 98, 100, 45, 33, 22]